
/* 全体 */
#wrapper{
    width: 90%;
    margin: 0 auto;
	display: flex;
}

/* ヘッダー */
header{
	position: fixed;
	top:0;
	width: 100%;
	height: 90px;
    background-color: #333;
    color:white;
    text-align: center;
    line-height: 80px;
}


/* サイドバー */
.content-area {
    display: flex;
    margin-bottom: 10px;
    align-items: flex-start;
}

aside {
	margin-top: 80px;
    width: 400px;
    background-color: lightblue;
    padding: 20px;
}

/* メイン */
main {
	margin-top: 80px;
	width: 800px;
    flex-grow: 1;
    background-color: #f8f8f8;
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

main form{
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

main form table{
   width: 100%;
}

main form input{
    margin-top: 20px;
	
}
th{
    background-color: #f0f0f0;
}
td input[type="text"],
td textarea{
    width: 95%;
}

footer{
	margin-bottom: 30px;
    background-color: #333;
    height: 80px;
}